.dropdown-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.start-btn {
    padding: 0.8rem 1.5rem; /* Adjusted for proportional size */
    background-color: #4d5b9e;
    color: #f5f7fb;
    border: none;
    border-radius: 10px;
    font-size: 1rem; /* Ensure readable text */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.start-btn:hover {
    background-color: #ffa500;
}

.check-answers-btn,
.replay-btn {
    padding: 1em 2em;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    border: none;
    transition: background-color 0.4s, transform 0.2s;
    cursor: pointer;
}

.check-answers-btn,
.replay-btn:hover {
    background-color: #FFA500;
}

.start-btn:active, 
.start-btn:focus,
.check-answers-btn:active,
.check-answers-btn:focus,
.replay-btn:active,
.replay-btn:focus {
    transform: scale(0.9);
}

select{
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #3f51b5;
    color: #333;
    transition: all 0.3s ease;
    width: 250px;
}

select:hover {
    border-color: #DEEBF8;
    background-color: #f8f8f8;
  }

select:focus,
select:active {
border-color: #1a237e;
background-color: #f8f8f8;
}

option{
    width: 50px;
    height:30px;
}

@media (min-width: 420px) {
    .start-btn {
      padding: 1rem 2rem;
    }

    .dropdown-form {
        margin: 0 auto;
        align-items: center;
        gap: 1rem;
      }

    select {
        margin: 0.5em 0;
    }
  }

@media (min-width: 768px) {
    .start-btn {
      padding: 1.2rem 2.5rem;
    }
}
