.qa-container {
  border-bottom: #DFDEF0 solid 2px;
  display: flex;
  flex-direction: column; 
  margin-top: 1em;
}

.question {
  font-weight: 700;
  letter-spacing: 0.01em;
}

.answer-container {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: .65em;
}

@media (min-width: 420px) {
  .qa-container {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }

  .answer-container {
    margin-top: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1.5em; 
  }
}
