.qa-container {
    padding: 1em 0;
    border-bottom: #DFDEF0 solid 2px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    /* background-color: yellow; */
  }
  
  .question {
    font-weight: 700;
    margin-bottom: 1em;
    letter-spacing: 0.01em;
  }

  .answer-container {
    display: flex;
  }
