.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: .08em;
    height: 100dvh;
}

.title-sub {
    margin-top: 0.8em;
    margin-bottom: 1em;
    padding: 0 2em;
}

@media (min-wdith: 420px){
    .title-sub {
        padding: 0 3em;
    }
}

