* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #1C1C1C;
  color: #293264;
  margin: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-x:; */
}

h1, h2, h3, h4, p {
  margin: 0;
}

.app-container {
  background-color: #f5f7fb;
  background-image: url(./src/assets/blob-1.png), url(./src/assets/blob-2.png);
  background-repeat: no-repeat;
  background-position: right 280% top 125%, 100% -8%;
  max-height: 850px;
  max-width: 768px; 
  
  /* height:100vh; */
  /* width: 100%; */
  /* padding: 0.5em 1.5em; */
  /* margin: 0; */
  /* display: flex; */
  /* flex-direction: column;  */
  /* justify-content: space-evenly;  */
  /* align-items: center;  */
  /* border: 2px red solid; */
  /* font-size: 10px; */
}

.quiz-container {
  /* overflow:; */
  /* background-color: pink; */
  /* width: 100vw; */
  height: 100dvh;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0 20px ;
  /* padding: 3em; */
  /* border: red solid 2px; */
  /* background-color: red; */
}

.check-container {
  height:100dvh;
  padding: 0 20px ;

  padding: 1.5em;
}

@media (min-width: 420px) {
  .app-container {
    background-position: right 140% top 135%, 100% -10%;
    justify-content: unset;
    /* height:100%; */
    /* width: 100vw; */
    /* padding: 3em 10em; */
    /* padding-bottom: 1.5em; */
  }
  
  /* .check-answers-btn {
    padding: 1.2em 2.2em;
    margin-top: 1.5em;
  } */
  
  .replay-btn {
    padding: 1em 2em;
    margin-left: 2em;
  }
}

.replay-container {
  display: flex;
  /* justify-content: space-between; */
  gap:0.5em;
  margin-top: 1.5em;
  align-items: center; 
  /* font-size: 0.9rem; */
}

/* BUTTONS */

.check-answers-btn, 
.replay-btn {
  border-radius: 10px;
  background-color: #4D5B9E;
  border: none;
  color: #F5F7FB;
  transition: background-color 0.4s, transform 0.2s;
}

.check-answers-btn {
  padding: 1.2em 2.2em;
  margin-top: 1.5em;
  
  align-self: center;
}

.replay-btn {
  padding: 1em 1.2em;
  /* margin-left: 1em; */
}

.check-answers-btn:hover, 
.replay-btn:hover  {
  cursor: pointer;
  background-color: #FFA500;
}

.check-answers-btn:active, 
.check-answers-btn:focus,
.replay-btn:active, 
.replay-btn:focus
{
  transform: scale(0.9);
}







