* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #1C1C1C;
  color: #293264;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #f5f7fb;
  background-image: url(./src/assets/blob-1.png), url(./src/assets/blob-2.png);
  background-repeat: no-repeat;
  background-position: right 280% top 135%, 100% -12%;
  /* max-height: 850px;
  max-width: 768px; */
}

h1, h2, h3, h4, p {
  margin: 0;
}

/* .app-container {
  background-color: #f5f7fb;
  background-image: url(./src/assets/blob-1.png), url(./src/assets/blob-2.png);
  background-repeat: no-repeat;
  background-position: right 280% top 125%, 100% -8%;
  max-height: 850px;
  max-width: 768px;
} */

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 768px;
  padding: 2em;
  text-align: center;
}

.replay-container {
  display: flex;
  gap:0.5em;
  margin-top: 1.5em;
  align-items: center; 
}

@media (min-width: 420px) {
  .app-container {
    background-position: right 130% top 130%, 100% -10%;
    width: 100vw;
  }

  .quiz-container {
    justify-content: center;
    padding: 4em
  }

  .replay-btn {
    padding: 1em 2em;
    margin-left: 2em;
  }
  .replay-container {
    justify-content: center;
  }
}

/* BUTTONS */

.check-answers-btn, 
.replay-btn {
  border-radius: 10px;
  background-color: #4D5B9E;
  border: none;
  color: #F5F7FB;
  transition: background-color 0.4s, transform 0.2s;
}

.check-answers-btn {
  padding: 1.2em 2.2em;
  margin-top: 1.5em;
  
  align-self: center;
}

.replay-btn {
  padding: 1em 1.2em;
  /* margin-left: 1em; */
}

.check-answers-btn:hover, 
.replay-btn:hover  {
  cursor: pointer;
  background-color: #FFA500;
}

.check-answers-btn:active, 
.check-answers-btn:focus,
.replay-btn:active, 
.replay-btn:focus
{
  transform: scale(0.9);
}







