.answer {
    border-radius: 5px;
    border: #293264 1.5px solid;
    padding: 0.5em;
    transition: background-color 0.5s, transform 0.3s;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  
  .answer:hover {
    background-color: #4D5B9E ;
    color:#F5F7FB;
    cursor: pointer;
  }
  
  .answer:active, .answer:focus {
    transform: scale(0.9);
  }