.answer {
    padding: 0.5rem 0.6rem; /* Increased top and bottom padding */
    border: 1.5px solid #293264;
    border-radius: 5px;
    font-size: 0.8rem; /* Slightly larger text for better readability */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .answer:hover {
    background-color: #4D5B9E ;
    color:#F5F7FB;
  }
  
  .answer:active, 
  .answer:focus {
    transform: scale(0.95);
  }

@media (min-width: 768px) {
  .answer {
    padding: 0.7rem 1rem; /* Comfortable padding for larger screens */
    font-size: 1rem; /* Ensure text is not too small */
  }
}
